accelerate==1.5.2
alembic==1.14.1
appdirs==1.4.4
auth0-python==4.8.0
backoff==2.2.1
bcrypt==4.2.1
bitsandbytes==0.42.0
build==1.2.2.post1
cachetools==5.5.2
chroma-hnswlib==0.7.6
chromadb==0.5.23
click==8.1.8
cohere==5.13.12
coloredlogs==15.0.1
cssselect2==0.2.1
deprecation==2.1.0
docker==7.1.0
docstring_parser==0.16
durationpy==0.9
embedchain==0.1.127
et_xmlfile==2.0.0
fastavro==1.10.0
filetype==1.2.0
flatbuffers==25.2.10
google-ai-generativelanguage==0.6.16
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.81.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.2
google-cloud-resource-manager==1.14.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.4
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
gptcache==0.1.44
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
grpcio-tools==1.70.0
h2==4.2.0
hpack==4.1.0
httplib2==0.22.0
httptools==0.6.4
humanfriendly==10.0
hyperframe==6.1.0
importlib_resources==6.5.2
instructor==1.7.2
json5==0.10.0
json_repair==0.39.0
jsonpickle==4.0.2
jsonpointer==2.1
jsonref==1.1.0
kubernetes==32.0.1
lancedb==0.19.0
langchain-cohere==0.3.5
langchain-core==0.3.45
langchain-experimental==0.3.4
langchain-google-genai==2.1.0
langchain-openai==0.2.14
litellm==1.60.2
Mako==1.3.9
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
mem0ai==0.1.54
mmh3==5.1.0
monotonic==1.6
nodeenv==1.9.1
onnxruntime==1.20.1
openai==1.63.2
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-asgi==0.51b0
opentelemetry-instrumentation-fastapi==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
pdfminer.six==20231228
pdfplumber==0.11.5
portalocker==2.10.1
posthog==3.15.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pylance==0.23.0
PyMuPDF==1.25.4
pypdf==5.3.0
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
PyQt5==5.15.10
pyright==1.1.394
pysbd==0.3.4
python-dotenv==1.0.1
pytube==15.0.0
pyvis==0.3.2
qdrant-client==1.13.2
rich==13.9.4
rsa==4.9
schema==0.7.7
setuptools==72.1.0
shapely==2.0.7
shellingham==1.5.4
tabulate==0.9.0
tiktoken==0.7.0
tomli==2.2.1
tomli_w==1.2.0
typer==0.15.1
types-requests==2.32.0.20241016
uritemplate==4.1.1
uv==0.6.2
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
wheel==0.44.0